#tabloid .generated { display: none; margin-left: -80%; }

#tabloid .source {
  position: relative
}
#headline {
  position: absolute;
  top: 0;
  border: 1px solid #00a6fc;
  width: 376px;
  text-align: center;
  margin: 111px 0 0 51px;
  font: 50px impact, charcoal, sans-serif;
  color: #fff;
}

.gallery figure, .gallery figure img {
  display: inline;
  max-width: 100px;
}

#tabloid .save {
  float: right;
  margin-right: 1em;
}
#tabloid #upload {
  margin-right: 1em;
}

#tabloid {
  z-index: 2;
  position: relative;
}
.tabloid-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  /* -webkit-filter: grayscale(0.7) blur(2px); */
}
.tabloid-active .tabloid-cover {
  visibility: visible;
  opacity: 1;
}
body.tabloid-active .icons {
  display: none;
}

#tabloid #social {
  color: #aaa;
}

#tabloid #social {
  display: inline-block;
}

#tabloid #social a {
  color: #aaa;
  padding: 0 0.25em;
}
#tabloid #social a:hover {
  color: #ef3e33;
  font-weight: 900;
}

#tabloid #social #work { display: none; }
#tabloid #social.working #work { display: inline; }
#tabloid #social.working a { display: none }
#tabloid #social.working + button { display: none }

/** === truthiness/ === **/
#gallery figure { width: 50%; float: left }
#gallery figure img { max-width: 100%; }
aside { text-align: center; margin: 1em; }
@media screen and (min-width: 45em) {
  #gallery figure { width: 33%; }
  #gallery { width: 70%; float: left; background: white; min-height: 100% }
  aside { width: 25%; float: right; position: fixed; right: 0; margin: 1em 2% 0 0; }
  aside .navL { padding-top: none; }
  aside h1 { padding-top: 1em }

  @media screen and (min-width: 65em) {
    #gallery figure { width: 25%; }
  }
}

#gallery figcaption { display: none; }
